* {
  margin: 0;
  padding: 0;
}

.header {

}

.body {

}

@media (min-width:300px) and (max-width: 600px) {
  .body {

  }

  .header {

  }
}

.footer {

}

button {

}

button:hover {

}

button:focus,
button:focus-visible {

}


#app {
}

@media (prefers-color-scheme: light) {

}